$libre: Libre Baskerville, serif
$poppins: Poppins, sans-serif
$sacramento: Sacramento, cursive
$script: Marck Script, cursive

body
  font-family: $poppins
  background: #ffffff

  .container.header
    padding: 0
    header
      margin: 0
      .logo
        font-family: $script
        font-size: 35px
        & a
          text-decoration: none
          color: #616161
        &:first-letter
          color: #fc5f45
          padding-left: 5px

      .nav
        font-size: 14px
        font-weight: 500
        & a
          color: #272727
          margin: 8px 16px
          padding: 0 0 2px
          &:hover
            color: #fc5f45
        & li:last-child a
          margin-right: 0
        .nav-item
          .nav-link.active
              color: #fc5f45
              border-bottom: 1px solid #fc5f45

  footer
    .footer_block
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 1140px
      background-color: rgba(38, 39, 50, 0.85)
      height: 225px
      margin: 0 auto 40px
      border-bottom: 3px solid
      border-image: linear-gradient(to right, #fc5f45 25%, #38c695 25% 50%, #b27cf5 50% 75%, #feb960 75%) 1
      .item
        width: 25%
        height: 100px
        display: flex
        flex-direction: column
        justify-content: space-between
        .text
          width: 200px
          color: #fef4f2
          font-family: $poppins
          font-size: 16px
          font-weight: 400
        .head
          margin-bottom: 24px

      .part-1.logo
        font-family: $script
        font-size: 50px
        font-weight: 400

        & a
          text-decoration: none
          color: #fef4f2
          line-height: 100px
          text-align: center
          &:first-letter
            color: #fc5f45
            padding-left: 5px

      .part-2
        .head
          color: #38c695

      .part-3
        .head
          color: #b27cf5
        
      .part-4
        .head
          color: #feb960
        .socials img
          margin-right: 15px