.regpage{
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
}

.reghead{
    background:  #4cb1ca;
    padding: 20px;
    color: whitesmoke;
    font-weight: 0;
}
.reghead h1{
    margin: 0 auto;
}
.login {
    width: 350px;
    padding: 15px;
}
.form-control{
    width: 100%;
    margin: 5px 0 10px;
    border: 1px solid #4cb1ca;
    border-radius: 7px;
    outline:none;
    padding: 5px 10px;
}
.leftside{
    width: 50%;
    display: flex;
    justify-content: center;
}
.rightside{
    width:50%;
    display: flex;
    justify-content: center;

}

.regbody{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.registration{
    width: 350px;
    padding:  15px ;
}
.control-label::before{
    content: "*";
    color: red;
}

button{
    border-radius: 5px;
    background: #03738f;
    border: 0;
    color: whitesmoke;
    padding: 5px 15px;
    margin-left: 35%;
    outline:none;
    transition: all 0.8s ease
}
button:hover{
    cursor: pointer;
    background: red;
    transform: scale(1.2)
}